NoahMobileWP/NoahMobileWP/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Patients" type="tns:Patients" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Patients">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PatientsItem" type="tns:PatientsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PatientsItem">
    <xs:attribute blend:FormatParameters="1,12" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,12" name="Lastname" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Id" type="xs:string" />
  </xs:complexType>
</xs:schema>